# ignore all .txt .Rhistory .RData files
*.txt
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.png

# Folders to ignore
projects/*
!projects/late_hiv_diagnosis
projects/late_hiv_diagnosis/*
#!projects/late_hiv_diagnosis/data
#projects/late_hiv_diagnosis/data/*
#!projects/late_hiv_diagnosis/data/xxx.csv
.Rproj.user
